# Ignore directory metadata
**/.DS_Store

# Ignore temporary files that might be created by IDEs
**/*.temp
**/*.tmp
**/*.swp

# Ignore compiled files or binary data
**/*.o
**/*.out

# Ignore logs
logs
*.log

# Ignore local Kubernetes configuration
**/kubeconfig

# Ignore secrets or sensitive files
secrets.yaml
.env

# Ignore specific local configuration files
local.yaml
notes.txt